@import 'common/_variables.less';
@import 'common/_mixins.less';

// Base
@font-face {
    font-family: 'Wire One';
    src: url(../fonts/WireONe.ttf);
}

html {
    font-family: @base_font_family;
    font-size: @base_font_size;
    color: @font_color;
    text-transform: uppercase;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: @wire_font_family;
    font-size: 1.7em;
    margin: 0.20em 0;
    font-weight: normal; 
    text-transform: uppercase;
    //text-align: center;
}

p {
    margin: @margin 0;
}

a {
    color: @font_color;
}


// Utils
.margin-bottom {
    margin-bottom: @margin;
}

.margin-bottom-2x {
    margin-bottom: @margin * 2;
}

// Pages
#wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    background: @bg_color;
}

header {
    font-family: @wire_font_family;
    //font-family: 'Raleway', sans-serif;

    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: @z_index_high;
}

nav > ul {
    width: @width_large;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    > li {
        position: relative;
        display: inline-block;
        color: @font_color;
        cursor: pointer;

        &.dropdown {
            padding: @menu_margin;
        }

        a {
            display: block;
            padding: @menu_margin;
            color: @font_color;
            text-decoration: none;
        }

        > ul {
            position: absolute;
            left: 0;
            display: none;

            width: 215px;
            margin-top: @margin;
            padding-left: 0;

            background-color: @bg_color;
            list-style: none;
        }

        &:hover > ul {
            display: block;
        }
    }
}

#bg-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    //min-height: 650px;
    z-index: @z_index_low; 
    
    color: #fff;
    background: url(../img/batone_bg2.jpg) center top no-repeat;
    .bg-cover;

    &.new-visitor {
        -webkit-animation: batone-bg-opacity 5s ease 0s; 
           -moz-animation: batone-bg-opacity 5s ease 0s; 
            -ms-animation: batone-bg-opacity 5s ease 0s; 
             -o-animation: batone-bg-opacity 5s ease 0s; 
                animation: batone-bg-opacity 5s ease 0s;

        -webkit-transition: -webkit-transform 0.35s ease-out;
              -moz-transition: -moz-transform 0.35s ease-out;
                  -o-transition: -o-transform 0.35s ease-out;
                        transition: transform 0.35s ease-out;
    }
}

.view {
    position: relative;
    width: @width_large;
    margin: 0 auto;

    z-index: @z_index_medium;
}

.iframe {
    margin-top: @margin * 10;
    margin-left: @margin * 2;

    &.new-visitor {
        opacity: 0;
        
        .animation(batone-bg-opacity, 0.5s, ease, 4s);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

.contact {
    margin-top: @margin * 7;
    margin-left: @margin * 2.3;

    label {
        display: block;
        margin-bottom: @margin;

        span {
            display: inline-block;
            vertical-align: top;
        }

        .label {
            width: 90px;
        }

        .mandatory {
            margin-left: @margin;
        }
    }

    input, textarea {
        width: 515px;
    }
}

.contact-submit {
    margin-left: @width_large / 3;
    margin-bottom: @margin * 4; 

    button {
        background-color: @font_color;
        color: @bg_color;
        box-shadow: 1px 2px 1px #666;
        border: 0;
    }
}

.videos {
    margin-top: @margin * 8;
    margin-left: @margin * 2;

    .video {
        width: 120px;
        height: 80px;
        float: left;
        position: relative;
        margin-right: @margin;

        background-color: @font_color;
        line-height: 0;

        .animation(batone-bg-opacity, 0.5s, ease, 0s);

        /*-webkit-animation: batone-bg-opacity 0.5s ease; 
           -moz-animation: batone-bg-opacity 0.5s ease; 
            -ms-animation: batone-bg-opacity 0.5s ease; 
             -o-animation: batone-bg-opacity 0.5s ease; 
                animation: batone-bg-opacity 0.5s ease;*/

       /*-webkit-transition: margin-top 5s ease-out;
              -moz-transition: margin-top 5s ease-out;
                  -o-transition: margin-top 5s ease-out;
                        transition: margin-top 5s ease-out;*/

        img {
            margin-bottom: @margin;
        }

        a {
            font-size: 0.75em;
        }

        em {
            display: inline-block;
            line-height: 1;
            font-style: normal;
        }
    }

    .video-1 {
        margin-top: 200px;
    }
    .video-2 { 
        margin-top: 20px;
    }
    .video-3 {
        margin-top: 120px;
    }
    .video-4 {
        margin-top: 300px;
    }
    .video-5 {
        margin-top: 50px;
    }
    .video-6 {
        margin-top: 330px;
    }
    .video-7 {
        margin-top: 90px;
    }
    .video-8 {
        margin-top: 250px;
    }
    .video-9 {
        margin-top: 70px;
    }
    .video-10 {
        margin-top: 170px;
    }
}

.downloads {
    margin-top: @margin * 8;
    margin-left: @margin * 2;

    .download {
        max-width: 410px;
        float: left;
        margin-right: @margin;

        img {
            max-width: 410px;
        }

        em {
            display: inline-block;
            line-height: 1;
            font-style: normal;
        }
    }

    .download-1 {
        margin-top: 20px;
    }
    .download-2 { 
        margin-top: 40px;
    }
    .download-3 {
        margin-top: 60px;
    }
    .download-4 {
        margin-top: 80px;
    }
    .download-5 {
        margin-top: 100px;
    }
    .download-6 {
        margin-top: 120px;
    }
    .download-7 {
        margin-top: 140px;
    }
    .download-8 {
        margin-top: 160px;
    }
    .download-9 {
        margin-top: 180px;
    }
    .download-10 {
        margin-top: 200px;
    }
}

.play-button {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    left: 53px;
    border: 2px solid #fff;
    border-radius: 50%;

    span {
        position: absolute;
        top: 3px;
        left: 5px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 8px solid #fff;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes batone-bg-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Standard syntax */
@keyframes batone-bg-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes batone-bg-move {
    from { 
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX( calc(100% - 400px) );
           -moz-transform: translateX( calc(100% - 400px) );
            -ms-transform: translateX( calc(100% - 400px) );
             -o-transform: translateX( calc(100% - 400px) );
                transform: translateX( calc(100% - 400px) );
    }
}

/* Standard syntax */
@keyframes batone-bg-move {
    from { 
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(80%);
           -moz-transform: translateX(80%);
            -ms-transform: translateX(80%);
             -o-transform: translateX(80%);
                transform: translateX(80%);
    }
}