@import 'common/_variables.less';
@import 'common/_mixins.less';

// Base HTML
html {
    font-family: @base_font_family;
    font-size: @base_font_size;
    color: @font_color;
    text-transform: uppercase;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: @wire_font_family;
    font-size: 1.7em;
    margin: 0.20em 0;
    font-weight: normal; 
    text-transform: uppercase;
    //text-align: center;
}

p {
    margin: @margin 0;
}

a {
    color: @font_color;
}

img {
    max-width: 100%;
}


// Utils
.margin-bottom {
    margin-bottom: @margin;
}

.margin-bottom-2x {
    margin-bottom: @margin * 2;
}

// Pages
#wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    background: @bg_color;
}

header {
    font-family: @wire_font_family;
    //font-family: 'Raleway', sans-serif;

    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: @z_index_high;
}

/*.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}*/

nav .menu-desktop {
    display: block;
    width: @width_large;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    > li {
        position: relative;
        display: inline-block;
        color: @font_color;
        cursor: pointer;

        &.dropdown {
            padding: @menu_margin;

            @media screen and (min-width:769px) and (max-width: 959px) {
                padding-left: 23px;
                padding-right: 23px;
            }
        }

        a {
            display: block;
            padding: @menu_margin;
            color: @font_color;
            text-decoration: none;

            @media screen and (min-width:769px) and (max-width: 959px) {
                padding-left: 23px;
                padding-right: 23px;
            }
        }

        &.is-activated {
            a {
                background-color: @font_color;
                color: @bg_color;

                img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }
        }

        &.logo {
            a {
                padding-top: @margin;
                padding-left: 0.6rem;
            }
        }

        > ul {
            position: absolute;
            left: 0;
            display: none;

            width: 219px;
            margin-top: @margin;
            padding-left: 0;

            background-color: @bg_color;
            list-style: none;
        }

        &:hover > ul {
            display: block;
        }
    }

    @media screen and (min-width:769px) and (max-width: 959px) {
        width: @width_medium;
    }

    @media screen and (max-width:768px){
        display: none;
    }
}

nav .menu-mobile {
    display: none;
    width: @width_small;

    .logo {
        display: inline-block;
        padding-top: 10px;

        a {
            padding: 15px;
        }

        &.is-activated {
            background-color: @font_color;

            img {
                -webkit-filter: invert(1);
                filter: invert(1);
            }
        }
    }

    .menu-mobile-toggle {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 45px;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;    
            height: 4px;
            border-top: 14px double @font_color;
            border-bottom: 5px solid @font_color;
        }
    }

    .menu-mobile-list {
        margin: 0;
        padding-left: 15px;
        list-style: none;
        text-align: right;
        opacity: 1;
        line-height: 20px;

        &.ng-hide {
            opacity: 0;
            line-height: 0;
        }

        &.ng-hide-add,
        &.ng-hide-remove{
            -webkit-transition: all linear 3s;
            transition: all linear 3s;
        }
    }

    li {
        display: block;
        color: @font_color;
        cursor: pointer;
        border-bottom: 1px @font_color solid;

        a {
            display: block;
            padding: 10px;
            color: @font_color;
            text-decoration: none;
        }

        &.is-activated {
            a {
                background-color: @font_color;
                color: @bg_color;
            }
        }
    }

    @media screen and (max-width:768px){
        display: block;
    }
}

#bg-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: @z_index_low; 

    @media screen and (orientation: portrait) {
        width: 165%;
    }
    
    color: #fff;
    background: url(../img/batone_bg2.jpg) center top no-repeat;
    .bg-cover;

    &.home-page {
        -webkit-animation: batone-bg-opacity 5s ease 0s; 
           -moz-animation: batone-bg-opacity 5s ease 0s; 
            -ms-animation: batone-bg-opacity 5s ease 0s; 
             -o-animation: batone-bg-opacity 5s ease 0s; 
                animation: batone-bg-opacity 5s ease 0s;

        -webkit-transition: -webkit-transform 0.35s ease-out;
              -moz-transition: -moz-transform 0.35s ease-out;
                  -o-transition: -o-transform 0.35s ease-out;
                        transition: transform 0.35s ease-out;
    }
}

.view {
    position: relative;
    width: @width_large;
    margin: 0 auto;

    z-index: @z_index_medium;

    @media screen and (max-width:959px){
        width: @width_medium;
        padding: 0 10px;
    }
}

.iframe {
    margin-top: @margin * 10;
    margin-left: @margin * 2;

    @media screen and (max-width:959px){
        width: 95%;
        margin-left: 0;
    }

    &.home-page {
        opacity: 0;
        
        .animation(batone-bg-opacity, 0.5s, ease, 3.4s);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

.contact {
    margin-top: @margin * 10;
    margin-left: @margin * 2.3;

    @media screen and (max-width:959px){
        margin-left: 0;
        padding-right: 10px;
    }

    label {
        display: block;
        margin-bottom: @margin;

        span {
            display: inline-block;
            vertical-align: top;
        }

        .label {
            width: 90px;
        }

        .mandatory {
            margin-left: @margin;
        }
    }

    input, textarea {
        width: 515px;
        color: @bg_color;

        @media screen and (max-width:768px){
            width: 65%;
        }
    }
}

.contact-submit {
    margin-left: @width_large / 3;
    margin-bottom: @margin * 4; 

    @media screen and (max-width:768px){
        width: @width_small;
        margin-left: 0;
        text-align: center;
    }

    button {
        background-color: @font_color;
        color: @bg_color;
        text-transform: uppercase;
        box-shadow: 1px 2px 4px #777;
        border: 0;
    }
}

.message-success {
    color: #91E338;
}

.message-error {
    color: #cd4236;
}

.videos {
    margin-top: @margin * 8;
    margin-left: @margin * 2;

    .video {
        width: 196px;
        display: inline-block;
        position: relative;
        margin-right: @margin;
        margin-bottom: 80px;

        line-height: 0;

        .animation(batone-bg-opacity, 0.5s, ease, 0s);

        img {
            margin-bottom: @margin;
        }

        a {
            font-size: 0.75em;
        }

        em {
            display: inline-block;
            line-height: 1;
            font-style: normal;
        }

        @media screen and (max-width:480px){
            max-width: 45%;
        }
    }

    .video-1 {
        top: 10px;
    }
    .video-2 { 
        top: 20px;
    }
    .video-3 {
        top: 30px;
    }
    .video-4 {
        top: 40px;
    }
    .video-5 {
        top: 50px;
    }
    .video-6 {
        top: 60px;
    }
    .video-7 {
        top: 70px;
    }
    .video-8 {
        top: 80px;
    }
    .video-9 {
        top: 90px;
    }
    .video-10 {
        top: 100px;
    }
}

.downloads {
    margin-top: @margin * 8;
    margin-left: @margin * 2;

    .download {
        max-width: 380px;
        float: left;
        position: relative;
        margin-right: @margin * 4.2;

        @media screen and (max-width:959px){
            max-width: 40%;
        }

        @media screen and (max-width:480px){
            max-width: 35%;
        }

        img {
            max-width: 380px;

            @media screen and (max-width:959px){
                max-width: 100%;
            }
        }

        em {
            display: inline-block;
            line-height: 1;
            font-style: normal;
        }
    }

    .download-1 {
        margin-top: 20px;
    }
    .download-2 { 
        margin-top: 40px;
    }
    .download-3 {
        margin-top: 60px;
    }
    .download-4 {
        margin-top: 80px;
    }
    .download-5 {
        margin-top: 100px;
    }
    .download-6 {
        margin-top: 120px;
    }
    .download-7 {
        margin-top: 140px;
    }
    .download-8 {
        margin-top: 160px;
    }
    .download-9 {
        margin-top: 180px;
    }
    .download-10 {
        margin-top: 200px;
    }
}

.play-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 44px;
    left: 83px;
    border: 2px solid @font_color;
    border-radius: 50%;

    span {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 14px solid @font_color;
    }
}

.download-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 156px;
    border: 3px solid @font_color;
    border-radius: 50%;

    @media screen and (max-width: 520px){
        width: 35px;
        height: 35px;
    }

    @media screen and (max-width:480px){
        display: none;
    }

    .rect {
        position: absolute;
        top: 10px;
        left: 18px;
        width: 14px;
        height: 15px;
        background-color: @font_color;

        @media screen and (max-width: 520px){
            top: 6px;
            left: 11px;
            width: 12px;
            height: 14px;
        }
    }

    .arrow {
        position: absolute;
        top: 25px;
        left: 10px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid @font_color;

        @media screen and (max-width: 520px){
            top: 20px;
            left: 6px;
            border-left-width: 12px;
            border-right-width: 12px;
            border-top-width: 11px;
        }
    }
}

.eu {
    margin-top: @margin * 10;
    margin-left: @margin * 2;

    font-family: Verdana, Arial, sans-serif;
    font-size: @base_font_size / 2;
    text-transform: none;

    p {
        margin: 1rem 0;
    }

    @media screen and (max-width:959px){
        margin-left: 0;
        padding-right: 10px;
    }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes batone-bg-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Standard syntax */
@keyframes batone-bg-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes batone-bg-move {
    from { 
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX( calc(100% - 400px) );
           -moz-transform: translateX( calc(100% - 400px) );
            -ms-transform: translateX( calc(100% - 400px) );
             -o-transform: translateX( calc(100% - 400px) );
                transform: translateX( calc(100% - 400px) );
    }
}

/* Standard syntax */
@keyframes batone-bg-move {
    from { 
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(80%);
           -moz-transform: translateX(80%);
            -ms-transform: translateX(80%);
             -o-transform: translateX(80%);
                transform: translateX(80%);
    }
}