//@base_font_family: Helvetica, Arial, sans-serif;
@wire_font_family: 'Wire One', sans-serif;
@base_font_family: @wire_font_family;

@width_large: 960px;

@base_font_size: 32px;
@font_color: #fff;

@bg_color: #000; 
@margin: 0.3125rem;

@menu_margin: @margin @margin * 3.5;

// z-index
@z_index_high: 10;
@z_index_medium: 2;
@z_index_low: 1;