<div class="contact">
	<h1>Contato</h1>
	<p>Por favor, preencha os campos abaixo para enviar um e-mail.</p>
	<form action="">
		<label for="name">
			<span class="label">Nome:</span>
			<input type="text" name="name" id="name"><span class="mandatory">*</span>
		</label>
		<label for="email">
			<span class="label">Email:</span>
			<input type="email" name="email" id="email">
		</label>
		<label for="phone">
			<span class="label">Telefone:</span>
			<input type="tel" name="phone" id="phone">
		</label>
		<label for="message"><span class="label">Mensagem:</span>
			<textarea name="message" id="message" rows="5"></textarea><span class="mandatory">*</span>
		</label>
		<div class="contact-submit">
			<button type="submit">Enviar</button>
		</div>
	</form>
</div>