<div class="download">
    <a href="../media/disquinho_de_bolso.zip">
        <img src="../img/disquinho_de_bolso_2014.jpg" alt="Disquinho de Bolso">
        <i class="download-icon">
            <span class="rect"></span>
            <span class="arrow"></span>
        </i>
        <em>Disquinho de Bolso</em>
    </a>    
</div>
<div class="download">
    <a href="../media/lixo_extraordinario.zip">
        <img src="../img/lixo_extraordinario.jpg" alt="Lixo Extraordinário">
        <i class="download-icon">
            <span class="rect"></span>
            <span class="arrow"></span>
        </i>
        <em>Lixo Extraordinário</em>
    </a>    
</div>