<div class="eu">
    <p>Nasci e cresci em Marília, região do Alto Cafezal no Velho Oeste Paulista no início dos anos 70.</p>
    <p>De lá fui pra São Paulo, pra morar numa chácara em Embú das Artes como cantor e compositor da banda Loboguará, originalmente um trio de « roça’n’roll » formado no interior do curso de Filosofia da Unesp em 1995. </p> 
    <p>Depois, entre 2000 e 2009, foram quase 10 anos de Rio de Janeiro, onde fiz meu mestrado em Ciência da Arte na UFF, conheci Gabi e me tornei professor e arte-educador da UVA (Universidade Veiga de Almeida).</p>
    <p>Desde setembro de 2009 moro em Montréal, no Canadá, onde nasceram meus filhos Clara e Francisco. Aqui trabalho com ateliers de criação musical para a Fundação de arte bruta Les Impatients.</p>
    <p>Todo o trabalho musical disponível nesse site está detalhadamente comentado no interior dos dois links da sessão DISCOS (Lixo Extraordinário e Disquinho de Bolso). Uma vez lá, você  encontrará um « conto-canção » pra cada música, onde relembro a história por trás da criação, citando amigos e passagens da minha vida e também alguma curiosidade sobre o processo de arranjo ou gravação das faixas. </p>
    <p>Todas as canções estão gratuitamente disponíveis para download em copyleft.</p>
</div>