<div class="menu-languages">
    <button ng-if="currentLanguage != 'en'" ng-click="changeLanguage('en')"><img src="img/flag-uk.png" width="24" alt="English"></button>
    <button ng-if="currentLanguage != 'fr'" ng-click="changeLanguage('fr')"><img src="img/flag-france.png" width="24" alt="French"></button>
    <button ng-if="currentLanguage != 'pt'" ng-click="changeLanguage('pt')"><img src="img/flag-brazil.png" width="24" alt="Português"></button>
</div>

<ul class="menu-desktop">
    <li class="logo" ng-repeat="menuItem in menuItems | limitTo:1"
        ng-class="{'is-activated': isMenuItemActive(menuItem)}"
        ng-click="onMenuItemClick(menuItem)">
        <a ng-click="home()" href="{{menuItem.url}}"></a>
    </li>
    <li class="dropdown">{{'menu.albums' | translate}}
        <ul>
            <li><a href="http://www.batonelixoextraordinario.blogspot.ca" target="_blank" title="O conteúdo será aberto em uma nova janela">Lixo Extraordinário</a></li>
            <li><a href="http://www.batonebatone.blogspot.ca" target="_blank" title="O conteúdo será aberto em uma nova janela">Disquinho de Bolso</a></li>
        </ul>
    </li>
    <li ng-repeat="menuItem in menuItems | limitTo:-3"
        ng-class="{'is-activated': isMenuItemActive(menuItem)}"
        ng-click="onMenuItemClick(menuItem)">
        <a href="{{menuItem.url}}">{{menuItem.text}}</a>
    </li>
    <li class="menu-contact">
        <a href="https://www.facebook.com/batone?fref=ts" target="_blank">
            <img src="img/logo-facebook.png" alt="Facebook">
        </a>
    </li>
</ul>

<div class="menu-mobile">
    <span class="logo" ng-repeat="menuItem in menuItems | limitTo:1"
        ng-class="{'is-activated': isMenuItemActive(menuItem)}" 
        ng-click="onMenuItemClick(menuItem)">
        <a ng-click="home()" href="{{menuItem.url}}"><img src="img/logo2.png" alt="Batone"></a>
    </span>
    <i class="menu-mobile-toggle" ng-click="onMenuToggle()"></i>
    <ul class="menu-mobile-list" ng-show="isMenuToggleOpened">
        <li><a href="http://www.batonelixoextraordinario.blogspot.ca" target="_blank" title="O conteúdo será aberto em uma nova janela">Disco - Lixo Extraordinário</a></li>
        <li><a href="http://www.batonebatone.blogspot.ca" target="_blank" title="O conteúdo será aberto em uma nova janela">Disco - Disquinho de Bolso</a></li>
        <li ng-repeat="menuItem in menuItems | limitTo:-3"
            ng-class="{'is-activated': isMenuItemActive(menuItem)}"
            ng-click="onMenuItemClick(menuItem)">
            <a href="{{menuItem.url}}">{{menuItem.text}}</a>
        </li>
        <li class="menu-contact">
            <a href="https://www.facebook.com/batone?fref=ts" target="_blank">
                <img src="img/logo-facebook.png" alt="Facebook">
            </a>
        </li>
    </ul>
</div>