<div class="menu-languages">
    <button ng-if="menuCtrl.currentLanguage != 'en'" ng-click="menuCtrl.changeLanguage('en')"><img src="img/flag-uk.png" width="24" alt="English"></button>
    <button ng-if="menuCtrl.currentLanguage != 'fr'" ng-click="menuCtrl.changeLanguage('fr')"><img src="img/flag-france.png" width="24" alt="French"></button>
    <button ng-if="menuCtrl.currentLanguage != 'pt'" ng-click="menuCtrl.changeLanguage('pt')"><img src="img/flag-brazil.png" width="24" alt="Português"></button>
</div>

<ul class="menu-desktop">
    <li class="logo" ng-repeat="menuItem in menuCtrl.menuItems | limitTo:1"
        ng-class="{'is-activated': menuCtrl.isMenuItemActive(menuItem)}"
        ng-click="menuCtrl.onMenuItemClick(menuItem)">
        <a ng-click="home()" href="{{menuItem.url}}"></a>
    </li>
    <li ng-repeat="menuItem in menuCtrl.menuItems | limitTo:-4"
        ng-class="{'is-activated': menuCtrl.isMenuItemActive(menuItem)}"
        ng-click="menuCtrl.onMenuItemClick(menuItem)">
        <a ng-attr-target="{{($index == 0) ? '_blank' : undefined}}"
           href="{{menuItem.url}}">{{menuItem.text}}</a>
    </li>
    <li class="menu-contact">
        <a href="https://www.facebook.com/batone?fref=ts" target="_blank">
            <img src="img/logo-facebook.png" alt="Facebook">
        </a>
    </li>
</ul>

<div class="menu-mobile">
    <span class="logo" ng-repeat="menuItem in menuCtrl.menuItems | limitTo:1"
        ng-class="{'is-activated': menuCtrl.isMenuItemActive(menuItem)}"
        ng-click="menuCtrl.onMenuItemClick(menuItem)">
        <a ng-click="menuCtrl.home()" href="{{menuItem.url}}"></a>
    </span>
    <i class="menu-mobile-toggle" ng-click="menuCtrl.onMenuToggle()"></i>
    <ul class="menu-mobile-list" ng-show="menuCtrl.isMenuToggleOpened">
        <li ng-repeat="menuItem in menuCtrl.menuItems | limitTo:-4"
            ng-class="{'is-activated': menuCtrl.isMenuItemActive(menuItem)}"
            ng-click="menuCtrl.onMenuItemClick(menuItem)">
            <a href="{{menuItem.url}}">{{menuItem.text}}</a>
        </li>
        <li class="menu-contact">
            <a href="https://www.facebook.com/batone?fref=ts" target="_blank">
                <img src="img/logo-facebook.png" alt="Facebook">
            </a>
        </li>
    </ul>
</div>