<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/rshLgPiEAD8?rel=0">
        <img src="../img/ultima_bala.jpg" alt="A Última Bala">
        <i class="play-button"><span></span></i>
        <em>A Última Bala</em>
    </a>    
</div>
<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/Refx-sg8Ka4?rel=0">
        <img src="../img/acidente.jpg" alt="Acidente na Rua Prof. Azevedo Marques">
        <i class="play-button"><span></span></i>
        <em>Acidente na Rua Prof. Azevedo Marques</em>
    </a>    
</div> 
<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/5LtEyw-wEpc?rel=0">
        <img src="../img/tregua.jpg" alt="Trégua">
        <i class="play-button"><span></span></i>
        <em>Trégua</em>
    </a>    
</div> 
<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/_djatNiuy-c?rel=0">
        <img src="../img/banguela.jpg" alt="Banguela">
        <i class="play-button"><span></span></i>
        <em>Banguela</em>
    </a>    
</div> 
<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/Xqf8VyOMYAg?rel=0">
        <img src="../img/manteiga-derretida.jpg" alt="Manteiga Derretida">
        <i class="play-button"><span></span></i>
        <em>Manteiga Derretida</em>
    </a>    
</div> 
<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/4J-sJ_HrtVg?rel=0">
        <img src="../img/tudo-e-falso.jpg" alt="Tudo é Falso e Inútil">
        <i class="play-button"><span></span></i>
        <em>Tudo é Falso e Inútil</em>
    </a>    
</div> 
<div class="video">
    <a class="fancybox-media fancybox.iframe" href="http://www.youtube.com/embed/6KitIAFIdKc?rel=0">
        <img src="../img/rosa-dos-ventres.jpg" alt="Rosa dos Ventres">
        <i class="play-button"><span></span></i>
        <em>Rosa dos Ventres</em>
    </a>    
</div> 