<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>
<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>
<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>
<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>
<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>
<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>
<div class="video"><a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo">Youtube</div>